services:
  ats-web:
    image: bradandersonr/ats-checker:latest
    ports:
    - "5000:5000"
    secrets:
      - GEMINI_API_KEY
    environment:
      - GEMINI_API_KEY_FILE=/run/secrets/GEMINI_API_KEY
      - FLASK_DEBUG=False
      - FLASK_APP=app/main.py
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=traefik_webapp-dmz"  
        - "traefik.swarm.network=traefik_webapp-dmz"  
        - "traefik.http.routers.ats.rule=Host(`resume.jobtools.app`, `check.jobtools.app`)"
        - "traefik.http.routers.ats.entrypoints=websecure"
        - "traefik.http.routers.ats.tls=true"
        - "traefik.http.services.ats.loadbalancer.server.port=5000"
        - "traefik.http.routers.ats.middlewares=error-pages"
        - "traefik.constraint=proxy-public"
    networks:
      - traefik_webapp-dmz
networks:
  traefik_webapp-dmz:
    external: true
secrets:
  GEMINI_API_KEY:
    external: true