/*
Light Blue: 8ECAE6
Medium Blue: 219EBC
Dark Blue: 023047
Light Orange: FFB703
Dark Orange: FB8500
*/

p, .label {
		color: #023047;
}

body {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #023047;
}

.button.is-primary {
	background-color: #FB8500;
	color: #efefef !important;
}

.button.is-primary:hover {
	background-color: #FFB703;
}

.container {
	max-width: 800px;
	width: 100%;
	margin: 2rem auto;
	border-radius: 0.4rem;
	background-color: #efefef;
}

.title {
	color: #FB8500;
}

#results {
	margin-top: 1.5rem;
}

#results h1, h2, h3 {
	font-weight: bold;
}

#results h1 {
	font-size: 2rem;
}

#results h2 {
	font-size: 1.8rem;
}

#results h3 {
	font-size: 1.2rem;
}

#results p, h1, h2, h3 {
	margin-top: 0.6rem;
	margin-bottom: 0.6rem;
}

#results ul {
	list-style: disc !important;
	padding-left: 1.8rem;
}

#results li {
	padding-top: 0.8rem;
}

#resume-form {
	margin-top: 1.8rem;
}

.spinner {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border: 2px solid #efefef;
	border-radius: 50%;
	border-top-color: transparent;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
